<div>
  <h1>{{ title }}</h1>
</div>

<div>
  <form class="form-container-with-row" [formGroup]="form" (ngSubmit)="onSubmit()">  

    <app-dynamic-form2 [form]="form" [controls]="controls" [group]="group" (dropdownchange)="onDropdownChange($event)" 
                          (radioboxchange)="onRadioBoxChange($event)"></app-dynamic-form2>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Salva</button>
    </div>
  </form>

  <div class="mt-4">
    <pre>{{ jsonstr | json }}</pre>
  </div>

  <div class="mt-4">
    <div>
      Il presente form usa Bootstrap ed ha 2 ComboBox collegate
    </div>
    <a target="_black" href="https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page4/page4.component.html">https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page4/page4.component.html</a><br>
    <a target="_black" href="https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page4/page4.component.ts">https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page4/page4.component.ts</a><br>
  </div>
</div>
