<div>
  <h1>{{ title }}</h1>
</div>

<div>
  <form class="form-container-with-row" [formGroup]="form" (ngSubmit)="onSubmit()">  

    <app-dynamic-form1 [form]="form" [controls]="controls" (dropdownchange)="onDropdownChange($event)"
                    (radioboxchange)="onRadioBoxChange($event)"></app-dynamic-form1>

    <div class="form-row">
      <button type="submit" [disabled]="!form.valid">Salva</button>
    </div>    
  </form>

  <div class="mt-4">
    <pre>{{ jsonstr | json }}</pre>
  </div>

  <div class="mt-4">
    <div>
      Il presente form non usa Bootstrap ed ha una ComboBox seplice
    </div>
    <a target="_black" href="https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page1/page1.component.html">https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page1/page1.component.html</a><br>
    <a target="_black" href="https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page1/page1.component.ts">https://github.com/mastefano64/angular-dynamic-component/blob/master/src/app/page1/page1.component.ts</a><br>
  </div>
</div>
